<mat-card>
  <mat-card-header>
    <mat-card-title>Visualização do profissional</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>Dados gerais</h2>
    <p><strong>Nome:</strong> Andre Soares Gomes</p>
    <p><strong>Registrado em:</strong> 12/04/2011</p>
    <p><strong>Situação de registro:</strong> Regular</p>
    <p><strong>Registro:</strong> PR-117333/D</p>
    <p><strong>RNP:</strong> 1709557974</p>

    <h2>Dados comerciais</h2>
    <p>Dados indisponíveis para divulgação / divulgação não autorizada.</p>

    <h2>Títulos e atribuições</h2>
    <p><strong>Título:</strong> ENGENHEIRO QUÍMICO</p>
    <p><strong>Colação:</strong> 25/03/2011</p>
    <p><strong>Diplomação:</strong> 25/03/2011</p>
    <p><strong>Situação:</strong> Regular</p>
    <p><strong>Atribuições:</strong> Resolução do Confea N.º 218/1973 - Art. 17º</p>
  </mat-card-content>
</mat-card>